<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles/intro.css">
  <link rel="stylesheet" href="styles/main.css">
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <h1>LifeStyle Lovers</h1>
  <p>LifeStyle Lovers is een datingapp waarbij mensen een geschikte partner kunnen vinden. De partners worden voor u uitgekozen op basis van uw eigen lifestyle, en wat voor lifestyle u graag in uw partner zou willen zien.
  </p>
  <p>Bent u op zoek naar een partner die goed bij uw lifestyle past? Meld u dan nu aan!</p>
  <a href="/newprofile">Aanmelden</a>
  <a href="/login">Ik heb al een account</a>
</body>


</html>
