<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/aanmelden.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
   <h1>LifeStyle Lovers</h1>
    <p>Wat is <a href="/">LifeStyle Lovers</a>?</p>
    <h2>Log in</h2>
    <form action="/portal" method="POST">
        <label>
           Username
            <input type="text" class="invoeren" name="username" value="hoi" required>
        </label>
        <label>
           Wachtwoord
            <input type="password" class="invoeren" name="password" value="hh" required>
        </label>
        <label>
        <input type="Submit">
        </label>
    </form>
         <p>Nog geen account?<br>Meld je <a href="/newprofile">hier</a> aan!</p>
    <p>Vragen? <a href="">Contact</a> ons</p>
</body>
</html>
